.api-console {
    display: grid;
    height: 100%;
    grid-template-rows: 50px 1px 50px 1px 5fr 1px 70px;
    &__header {
        padding-top: 0.65em;
        padding-bottom: 0.65em;
        display: flex;
        height: 50%;
        width: 100%;
        justify-content: space-between;
        &__container {
            display: flex;
        }
        &__title {
            display: flex;
            align-items: center;
            margin-left: 1.2em;
        }
        &__label {
            padding-left: 20px;
            font-family: var(--font-family);
            font-style: normal;
            font-weight: normal;
            line-height: 30px;
            display: flex;
            align-items: center;
            font-size: 20px;
            color: #0d0d0d;
        }
        &__fullscreen-btn-container {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1.2em;
        }
        &__fullscreen-btn-container:focus {
            border: 2px solid rgba($color: #45a5ff, $alpha: 0.5);
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
        }
    }

    .link-log-out {
        outline: none;
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        &__span {
            height: 24px;
            margin-right: 10px;
        }
    }

    &__line {
        background: #ffffff;
        /* Borders (elements) */

        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 5px;
    }
}
