

.auth-containter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 30%;
    
    &__logo {
        width: 115px;
        height: 30px;
        padding-bottom: 20px;
        
    }
    
    .form-auth {
        height: 100%;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        
        &__form {
            padding-left: 5%;
            padding-right: 5%;
            display: flex;
            flex-direction: column;

            &__button-send {
                width: 6.5em;
                height: 2.4em;
                background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
                border-radius: 5px;
                outline: none;
                color: white;
                border: none;
                font-size: 16px;
                line-height: 30px;
                font-style: bold;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__button-send--disabled{
                width: 6.5em;
                height: 2.4em;
                background: linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%);
                border-radius: 5px;
                outline: none;
                color: white;
                border: none;
                font-size: 16px;
                line-height: 30px;
                font-style: bold;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__button-send:hover {
                cursor: pointer;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
            }
            &__button-send:active {
                cursor: pointer;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
            }
            &__button-send:focus {
                outline: none;
                border: solid rgb(69, 165, 255) 2px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
                    
        }
        &__label {
            padding-top: 6.5%;
            font-size: 24px;
            line-height: 30px;
            font-style: normal;
            font-weight: normal;
            font-family: sans-serif;
            
        }

        .login {

            &__p{

                font-family: var(--font-family);
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                padding-top: 4%;

                &--error {
                    font-family: var(--font-family);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    padding-top: 4%;
                    color: #CF2C00;
                }
            }
            &__input {
                outline: none;
                display: flex;
                align-items: center;
                margin-top: 5px;
                width: 100%;
                height: 2.2em;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-sizing: border-box;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                font-size: 18px;
                line-height: 30px;
                padding-left: 2%;
                color: #0D0D0D;
                font-family: var(--font-family);

                &--error {
                    outline: none;
                    font-size: 18px;
                    line-height: 30px;
                    padding-left: 2%;
                    color: #0D0D0D;
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    width: 100%;
                    height: 2.2em;
                    font-family: var(--font-family);
                    border: 1px solid #CF2C00;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 4px rgba(207, 44, 0, 0.5);
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
                
            }
            &__input:hover {
                border: 1px solid rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }
            &__input:focus {
                outline: none;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                border: 1px solid rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                padding-left: 1.75%;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }

        .sublogin {
            padding-top: 4%;
            &__text-content {

                display: flex;
                justify-content: space-between;

                &__p {
                    font-family: var(--font-family);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px; 
                    color: #0D0D0D;
                    &--hint {
                        font-family: var(--font-family);
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 20px;
                        color: #999999;
                    }
                }
                
            }
            &__input {
                display: flex;
                align-items: center;
                font-family: var(--font-family);
                margin-top: 5px;
                width: 100%;
                height: 2.2em;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-sizing: border-box;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                font-size: 18px;
                line-height: 30px;
                padding-left: 2%;
                color: #0D0D0D;
                
            }
            &__input:hover {
                border: 1px solid rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }
            &__input:focus {
                outline: none;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                border: 1px solid rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                padding-left: 1.75%;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }


        }

        .password {
            padding-top: 4%;
            padding-bottom: 4%;
            &__p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                font-family: var(--font-family);
                &--error {
                    font-family: var(--font-family);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    padding-top: 0%;
                    color: #CF2C00;
                }
            }
            &__input {
                display: flex;
                align-items: center;
                margin-top: 5px;
                width: 100%;
                height: 167%;
                background: #FFFFFF;
                
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-sizing: border-box;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                font-size: 32px;
                line-height: 30px;
                padding-left: 2%;
                color: #0D0D0D;
                letter-spacing: 0.1em;
                font-style: bold;
                font-weight: normal;
                &--error {
                    font-size: 18px;
                    line-height: 30px;
                    padding-left: 2%;
                    color: #0D0D0D;
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    width: 100%;
                    height: 2.2em;
                    font-family: var(--font-family);
                    border: 1px solid #CF2C00;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 4px rgba(207, 44, 0, 0.5);
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
            }
            &__input:hover {
                border: 1px solid rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }
            &__input:focus {
                outline: none;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                border: 1px solid rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                padding-left: 1.75%;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }

        &__error {
            &__emoji-mah {
                border: 2px solid #CF2C00;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                color: red;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            .emoji-mah {
                display: flex;
                flex-direction: column;
                &__eyes {
                    display: flex;
                    justify-content: space-evenly;
                    padding-top: 6px;
                    // margin-left: -1px;
                }
                &__eyes--eye {
                    border: 1px solid #CF2C00;
                    border-radius: 50%;
                    width: 0px;
                    height: 0px;
                    color: #D8522E;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
                
                &__pre-mouth {
                    display: flex;
                    justify-content: center;
                    padding-top: 4px;
                }
                &__mouth {
                    border: 1px solid #CF2C00;
                    border-radius: 20px;
                    width: 8px;
                    height: 0px;
                    color: #D8522E;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
}
            }
        }


    }
}


