.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;

    &__btn {
        &--origin {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            /*identicaltoboxheight,or187%*/

            color: #ffffff;
            background: linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: none;
            height: 40px;
            width: 120px;
        }
        &--origin:disabled {
            background: linear-gradient(0deg, #c4c4c4, #c4c4c4), linear-gradient(180deg, #45a6ff 0%, #0055fb 100%);
            border-radius: 5px;
        }
        &--loader {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: none;
            height: 40px;
            width: 120px;
        }
    }

    &__link-github {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        display: flex;
        align-items: center;

        /* Text gray */

        color: #999999;
        outline: none;
        text-decoration: none;
    }

    &__btn-format-json {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        display: flex;
        align-items: center;

        /* Text Black */

        color: #0d0d0d;

        &__logo {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 24px;
            height: 24px;
            margin-right: 8px;

            div {
                height: 0;
                border: 1px solid #3d3d3d;
                border-radius: 30%;
                -webkit-border-radius: 30%;
                -moz-border-radius: 30%;
                -ms-border-radius: 30%;
                -o-border-radius: 30%;
            }

            &--1 {
                width: 8px;
                margin-left: 3px;
            }
            &--2 {
                width: 14px;
                margin-left: 7px;
            }
            &--3 {
                width: 5px;
                margin-left: 7px;
            }
            &--4 {
                width: 4px;
                margin-left: 3px;
            }
        }
    }
    &__btn-format-json:hover {
        cursor: pointer;
        color: #0055fb;
        &__logo {
            div {
                border: 1px solid #0055fb;
            }
        }
    }
}
