.forms-api-console {
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    &__span-drag-container {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    &__input,
    &__output {
        &--container {
            display: flex;
            flex-direction: column;
            width: 49.7%;
        }
    }
    &__textarea-label {
        font-family: var(--font-family);
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        font-style: normal;

        display: flex;
        align-items: center;
        text-align: right;

        color: #999999;
    }

    &__span-drag {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18px;
        &--container {
            width: 0.55%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div {
            background: rgba(0, 0, 0, 0.2);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    &__output-textarea,
    &__input-textarea {
        height: 100%;
        resize: horizontal;
        max-width: 100%;
        margin-bottom: 25px;
        outline: none;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        font-family: "Fira Code";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        /* or 129% */

        /* Text Black */

        color: #0d0d0d;
    }
}
