.history-component {
    z-index: 999;
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-left: 15px;
    &__request-container {
        background: #ffffff;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        height: 30px;
        margin-right: 10px;
    }
    &__request {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 10px;
        &__action-result {
            &--true {
                width: 10px;
                height: 10px;
                background: #30b800;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-sizing: border-box;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            &--false {
                width: 10px;
                height: 10px;
                background: #cf2c00;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-sizing: border-box;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }

        &__action-type {
            margin-left: 5px;
            margin-right: 10px;
        }

        &__action-menu {
            cursor: pointer;
            height: 18px;
            width: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div {
                width: 4px;
                height: 4px;
                background: #999999;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
    }
    &__dropdown {
        padding: 15px;
        background-color: white;
        background: #ffffff;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
    }
}
